
@charset "UTF-8";


/*공통*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Nanum+Gothic');
*{margin: 0;padding: 0;}

html,body{width: 100%; /*height: 100%;*/}
body{font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-size: 16px;
line-height: 1.5; 
background-color: transparent; 
color: 555;
}
ul li{ list-style-type: none;}
a{ text-decoration: none;  margin: 0; }
img{ border: none; }
em,address{font-style: normal;}
article{overflow: hidden;}
#container{width: 100%;height: 100%;}
.hdWrap{clear: both;width: 100%;position: relative;}
/*상단메뉴*/
#tnb{width: 100%;height: 42px;background-color: #E5B04A;}
.timeline{color: #fff;line-height: 42px;float: left;width: 80%;text-align: right;}
.timeline span{padding: 10px; cursor: pointer;}
#tnb ul{float: right;width: 20%;}
#tnb ul li{float: left;width: 33.3333%;}
#tnb ul li a{display:block;color: #fff;text-align: center;line-height: 42px;border-left: 1px solid #ccc;}
#tnb ul li a:hover,#tnb ul li a:active{color:#e91e63;}

/*로고,메인메뉴,예약하기*/
#hd{clear: both;height: 60px;}
.logo{float: left;margin-left: 30px;margin-top: 8px;}
.logo a{}
.logo img{width: 172px;height: 44px;}
#gnb{float: left;position: relative;margin-left: 50px;}
#gnb li{float: left;position: relative;padding: 10px;}
/* 후손선택자.대메뉴,서브메뉴*/
#gnb li a{/*color:#333;*/display: block;line-height: 40px;font-weight: 700;}
/*자손선택자 ,대메뉴*/
#gnb > ul > li > a:after{content: "|";color:#ccc;padding-left: 15px;}
#gnb > ul > li:last-child > a:after{content: "";}
.sub{display: none;position: absolute;width: 150px;z-index: 20;margin-left: -30px;}
/*
서브메뉴 애니메이션 처리
transition:all 1s;
display: none; 대신 opacity:0
display: block; 대신 opacity:1  
*/
#gnb li:hover .sub{display: block;}
#gnb li .subt{color: #333;}

.sub li{clear: both;width: 100%;height: 36px;line-height: 36px; background-color:rgba(255,255,255,0.7); }
/*대메뉴,서브메뉴 li를 float: left;로 가로로 쌓이게 해서  서브메뉴는 블럭요소(세로로 쌓임)로 바꿈 
width: 100%; 대메뉴(부모) 넓이값 모두 사용
*/

.sub li a{text-indent: 10px; color: #888;}
.sub li:hover a{background-color:rgb(0, 176, 166,0.7); color: #fff; }

.rev{display: block;float: right;width: 20%;height: 65px;background-color: #00B0A6;color:#fff;font-size: 16px;line-height: 60px;text-indent: 60px;background-image: url(./images/ico_reservation.png);background-repeat: no-repeat;background-position: 140px center;position: absolute;right: 0;top: 0;}

/*콘텐츠 설정*/
#content{clear: both;width: 100%;height: 100%;}
/*메인비주얼 */
#visual{clear: both;width: 100%;margin: 0;padding: 0;overflow-x: hidden;}
.imgFrame{width: 400%;transition: 1s;}
.imgFrame li{width:25%;float: left;}
.imgFrame li a{position: relative;width: 100%;display: block;}
.banTitle{position: absolute;top: 0;left: 0;color: #fff;font-size: 60px;line-height: 100px;width: 100%;text-align: center;letter-spacing: 50px}
.imgFrame li a img{display: block;width: 100%;height: auto;}
.raItem{display: none;}/*라디오버튼은 안보이게 처리*/
.btnBox{position: absolute;top:130px;left: 0;width: 100%;}
.btnBox label{display: block;float: left;width: 15%;height:45px;line-height: 45px;text-align: center;border: 3px solid #fff; border-radius: 20px; color:#e5b04a;font-size: 24px;margin-left: 5%;cursor: pointer;}
.btnBox label:first-child:hover{border: 3px solid rgb(0, 176, 166,0.5);}
.btnBox label:nth-child(2):hover{border: 3px solid rgb(0, 176, 166,0.5);}
.btnBox label:nth-child(3):hover{border: 3px solid rgb(0, 176, 166,0.5);}
.btnBox label:nth-child(4):hover{border: 3px solid rgb(0, 176, 166,0.5);}

.btnBox label:first-child{margin-left:12%}
#ra1:checked ~ .imgFrame{margin-left: 0%;}
#ra2:checked ~ .imgFrame{margin-left: -100%;}
#ra3:checked ~ .imgFrame{margin-left: -200%;}
#ra4:checked ~ .imgFrame{margin-left: -300%;}


.page{width: 100%;height: 100%;margin-top: 100px;}
.pageWrap{width: 1180px;margin: 0 auto;}
/*페이지 1*/
.secTitle{background-image: url(./images/secTitle.png);
background-repeat: no-repeat;background-position: center center;text-align: center;font-size: 1.9em;color:#999;line-height: 90px;}
.pageTitle1{position: relative;font-size: 14px;color:#000;}
.pageTitle2{position: relative;font-size: 16px;color:#000;line-height: 24px;}
.coment1{position: relative;font-size: 14px;color:#666666;width: 220px;margin: 15px auto;/*white-space: nowrap;text-overflow: ellipsis;overflow: hidden;*/max-height: 50px;text-align: left;line-height: 25px;}
.more1{display: block;width: 80px;line-height: 36px;border: 3px solid #fff;margin: 30px auto;color:#333;border-radius: 20px;}

.pageFrame{width: 100%;height: 500px;position: relative;}
.pageFrame:before{content:"";display: block;clear: both;}
.pageFrame .item{position: absolute;width: 295px;height: 250px;border-left: 1px solid #ccc;border-top: 1px solid #ccc; padding-top:40px;text-align: center;box-sizing: border-box;cursor: pointer;transition:0.8s }
.pageFrame .cate1{top:0;left: 590px;} 
.pageFrame .cate2{top: 0;right: 0;border-right: 1px solid #ccc;}
.pageFrame .cate3{bottom:0;left: 590px;border-bottom: 1px solid #ccc;} 
.pageFrame .cate4{bottom: 0;right: 0;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.pageFrame .thum{position: absolute;top: 0;left: 0;width: 590px;height: 500px;background-image:url(./images/dining01.jpg);background-size: cover;background-repeat: no-repeat;background-position: center center;box-sizing: border-box;transition:0.5s ;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;border-left: 1px solid #ccc;z-index: 10;}
/*border: 1px solid #ccc; border-right: none;  */
.pageFrame .cate1:hover ~ .thum{background-image:url(./images/dining01.jpg);}
.pageFrame .cate2:hover ~ .thum{background-image:url(./images/dining02.jpg);}
.pageFrame .cate3:hover ~ .thum{background-image:url(./images/dining03.jpg);}
.pageFrame .cate4:hover ~ .thum{background-image:url(./images/dining04.jpg);}
.pageFrame .cate1:hover{background-color: #ec407a;}
.pageFrame .cate2:hover{background-color: #ab47bc;}
.pageFrame .cate3:hover{background-color: #42a5f5;}
.pageFrame .cate4:hover{background-color: #d4e157;}
.pageFrame .item:hover .pageTitle1{color:#fff;}
.pageFrame .item:hover .pageTitle2{color:#fff;}
.pageFrame .item:hover .coment1{color:#fff;}
.pageFrame .item:hover .more1{color:#fff;}
#page1{height: 80%;}



/*page2 영역*/
.btnBox2{clear: both;width: 100%;height: 50px;}
.btnBox2 label{margin: 20px;cursor: pointer;font-size: 18px;}
/*4개 섹션을 모아놓은 영역*/
.banFrame{clear: both;width: 100%;height: 600px;}
.secBan{display: none;clear: both;width: 100%;height: 600px;margin-top: 20px;}
.bigPic{width: 50%;float:left; height: 600px;}
.bigPic img{width: 100%;height: 100%;}
.midPic{clear: both;width: 100%;height: 300px;}
#page2 .titleBox{width: 50%;height: 300px;float:left;background-color: #222;}
#page2 .botImg{display: block;width: 50%;height: 300px;}
.pageTitle3{color:#fff;text-align: center;padding-top: 30px;
/*
overflow: hidden; 
-ms-text-overflow:ellipsis ;
text-overflow: ellipsis;
display:-webkit-box;
-webkit-line-clamp:4;
-webkit-box-orient:vertical;
word-wrap:break-word;*/}
.coment2{color:#fff;padding: 20px; ov}
.more2{display: block;color:#fff;width: 80px;border:3px solid #fff;line-height: 36px;text-align: center;margin: 10px auto;transition: 0.5s;}
.titleBox:hover .more2{border-radius: 20px;}

/*라디오버튼1이 체크가된 상태라면 형제 관계에있는 .banFrame 의 첫번째 섹션에 해당되는 #tab11 이 보이게 해라*/
#ra11:checked ~ .banFrame #tab11{display: block;}
#ra12:checked ~ .banFrame #tab12{display: block;}
#ra13:checked ~ .banFrame #tab13{display: block;}
#ra14:checked ~ .banFrame #tab14{display: block;}
#ra11:checked ~ .btnBox2 .btn11{color:#ec407a;font-weight: 700;}
#ra12:checked ~ .btnBox2 .btn12{color:#ec407a;font-weight: 700;}
#ra13:checked ~ .btnBox2 .btn13{color:#ec407a;font-weight: 700;}
#ra14:checked ~ .btnBox2 .btn14{color:#ec407a;font-weight: 700;}

/*page3 영역*/
.btnBox3{clear: both;width: 100%;height: 50px;}
.btnBox3 label{margin: 20px;cursor: pointer;font-size: 18px;}
#page3 .titleBox{width: 50%;height: 300px;float: right;background-color: #222;}
#page3 .botImg{display: block;width: 50%;height: 300px;float: left;}
#ra21:checked ~ .banFrame #tab21{display: block;}
#ra22:checked ~ .banFrame #tab22{display: block;}
#ra23:checked ~ .banFrame #tab23{display: block;}
#ra24:checked ~ .banFrame #tab24{display: block;}
#ra21:checked ~ .btnBox3 .btn21{color:#ec407a;font-weight: 700;}
#ra22:checked ~ .btnBox3 .btn22{color:#ec407a;font-weight: 700;}
#ra23:checked ~ .btnBox3 .btn23{color:#ec407a;font-weight: 700;}
#ra24:checked ~ .btnBox3 .btn24{color:#ec407a;font-weight: 700;}

/*page4 영역*/
#page4{height: 350px;background-color: #e9e9e9;padding-top: 50px;}
.colBox{width: 100%;height: 250px;}
/*pageWrap=1180px=width: 100%;  580*2=1160 */
.colBox .col2{width: 580px;height: 250px;float: left;background-repeat: no-repeat;background-size: 100% 100%;background-position: center center;transition: 0.8s;}
.colBox .item1{background-image: url(./images/membership_bg.jpg);/*margin-right: 20px;*/}
.colBox .item2{background-image: url(./images/newsletter_bg.jpg);/*float: right;*//*margin-left: 20px;*/}
.colBox .col2:hover{background-size: 120% 120%;}
.borderBox{border: 1px solid #fff;width: 550px;height: 220px;margin: 15px auto;}
.pageTitle4{color: #fff;text-align: center;padding-top: 30px;}
.comment3{color: #fff;/*width: 500px;margin: 0 auto;*/padding: 20px;}
.more3{display: block;color: #fff;width: 120px;line-height: 36px;border: 3px solid #fff;border-radius: 20px;text-align: center;transition: 0.8s;margin-left:40%; margin-top:30%; }
.more3:hover{color:#fc0;border-color: #fc0;}

/*page5 영역*/
#page5{background-color: #999;padding:50px 0;}
/*padding-top: 50px;padding-bottom: 50px;*/
.logoFrame{width: 600px;margin: 10px auto;}
.logoFrame ul.logoBox{overflow: hidden;}
.logoFrame ul li{float: left;text-align: center;padding: 0 30px;}
/*푸터영역*/
#ft{clear: both;width: 100%;height: 90px;border-top: 1px solid #ccc;background-color: rgba(0,0,0,0.80);overflow: hidden;}
.ft_top{clear: both;width: 1180px;margin: 0 auto;}
/*왼쪽 메뉴5개*/
.ftlink{float: left;}
.ftlink li{float: left;padding: 6px;}
.ftlink li{background-image: url(./images/bar1.png);background-repeat: no-repeat;background-position: right 18px;}
.ftlink li:last-child{background: none;}
.ftlink li a{display: block;color: #fff;padding: 10px;}
.ftlink li:nth-of-type(3) a{color:#ffcc00;}
/*오른쪽 sns아이콘 3개*/
.snslink{float: right;margin-top: 7px;}
.snslink li{float: left;/*margin-left: 20px;*/}
.snslink li:nth-of-type(2){margin: 0 20px;}
.snslink li a{width: 40px;height: 40px;background-repeat: no-repeat;background-position: center center;background-size: 100% 100%;display: block;}
.snslink li a.sns1{background-image:url(./images/footer_ico_fb.png);}
.snslink li a.sns2{background-image:url(./images/footer_ico_insta.png);}
.snslink li a.sns3{background-image:url(./images/footer_ico_trip.png);}

.ft_bottom{clear: both;width: 100%;height: 45px;margin: 0 auto;background-color: #000;}
.copyright{width:1180px;margin: 0 auto;}
.copyright span{color: #eee;line-height: 42px}





  /* Media Queries */
  @media screen and (max-width: 1024px){
	figure{width: 100%;padding: 0;}
	.rev{display: none;}
	#tnb ul{display: none;}
	.btnBox{top: 600px;}



  }

  @media screen and (max-width: 740px){

  }

  @media screen and (max-width: 490px){ 

  }